node_modules
vendor
.git
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.cache
.idea
.vscode
.fleet
.zed
.nova
*.log
.DS_Store
docker-compose.yml
docker-compose.dokploy.yml
